<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{currentBoard?.title}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>{{nowDate | date}}</ion-card-subtitle>
            <ion-card-title>Goals for today</ion-card-title>
        </ion-card-header>
        <ion-card-content no-padding>

            <div class="no-goals-today" *ngIf="currentBoard && goalsTodo.length === 0" text-center>
                <ion-icon size="large" color="medium" name="happy" margin-bottom="24"></ion-icon>
                <ion-text color="primary">
                    <p>No goals for today!</p>
                </ion-text>
            </div>

            <ion-list>
                <ion-item *ngFor="let goal of goalsTodo; let i=index"
                          [lines]="i < goalsTodo.length - 1 ? 'full' : 'none'">
                    <ion-label text-wrap>
                        <h2>{{goal.name}}</h2>
                        <p>{{goal.description}}</p>
                    </ion-label>
                    <ion-button fill="clear" size="medium" color="success"
                                no-margin
                                (click)="goalDone(goal)">
                        <ion-icon slot="icon-only" name="thumbs-up"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear" size="medium" color="danger"
                                no-margin
                                (click)="goalFailed(goal)">
                        <ion-icon slot="icon-only" name="thumbs-down"></ion-icon>
                    </ion-button>
                </ion-item>

                <ion-item *ngFor="let goal of goalsDone; let i=index"
                          class="goal-done"
                          [lines]="i < goalsDone.length - 1 ? 'full' : 'none'">
                    <ion-label text-wrap>
                        <h2>{{goal.name}}</h2>
                    </ion-label>
                    <ion-badge no-margin color="success">done</ion-badge>
                    <ion-button fill="clear" size="medium"
                                no-margin
                                (click)="undoToTodo(goal)">
                        <ion-icon slot="icon-only" name="undo"></ion-icon>
                    </ion-button>
                </ion-item>


                <ion-item *ngFor="let goal of goalsFailed; let i=index"
                          class="goal-done"
                          [lines]="i < goalsFailed.length - 1 ? 'full' : 'none'">
                    <ion-label text-wrap>
                        <h2>{{goal.name}}</h2>
                    </ion-label>
                    <ion-badge no-margin color="danger">fail</ion-badge>
                    <ion-button fill="clear" size="medium"
                                no-margin
                                (click)="undoToTodo(goal)">
                        <ion-icon slot="icon-only" name="undo"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-list>

        </ion-card-content>
    </ion-card>
</ion-content>
