<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{currentBoard.title}}
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- BOARD INFO -->
    <ion-card>
        <ion-item>
            <ion-icon color="primary" name="apps" slot="start"></ion-icon>
            <ion-label>
                <h2 class="card-title">Board information</h2>
                <p>Change board information.</p>
            </ion-label>
            <ion-button fill="clear" slot="end" color="medium" (click)="openBoardModal()">
                <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-card-content>
            <ion-label text-wrap>
                <p>{{startDate | date}}</p>
                <h2 class="board-title">{{currentBoard.title}}</h2>
                <p>{{currentBoard.description}}</p>
            </ion-label>
        </ion-card-content>
    </ion-card>

    <!-- GOAL INFO -->
    <ion-card>
        <ion-item>
            <ion-icon color="primary" name="flag" slot="start"></ion-icon>
            <ion-label>
                <h2 class="card-title">Goals</h2>
                <p>Add or edit Your goals.</p>
            </ion-label>
            <ion-button fill="clear" slot="end" color="medium" (click)="openGoalModal()">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-card-content no-padding>
            <ion-list *ngIf="currentBoard.goals.length > 0">
                <ion-item *ngFor="let goal of currentBoard.goals; let i=index"
                          (click)="openGoalModal(goal)"
                          [lines]="i < currentBoard.goals.length - 1 ? 'full' : 'none'">
                    <ion-badge [color]="i % 2 === 0 ? 'tertiary' : 'secondary'"
                               class="goal-number"
                               slot="start">#{{goal.number}}</ion-badge>
                    <ion-label text-wrap>
                        <p *ngIf="goal.frequency.length < 7">
                            <span *ngFor="let day of goal.frequency; let i=index" class="day-text">
                                <span *ngIf="day === 1">Mon</span>
                                <span *ngIf="day === 2">Tue</span>
                                <span *ngIf="day === 3">Wed</span>
                                <span *ngIf="day === 4">Thu</span>
                                <span *ngIf="day === 5">Fri</span>
                                <span *ngIf="day === 6">Sat</span>
                                <span *ngIf="day === 7">Sun</span>
                                <span *ngIf="i < goal.frequency.length - 1">, </span>
                            </span>
                        </p>
                        <p *ngIf="goal.frequency.length === 7" class="day-text">Everyday</p>
                        <h2 style="margin: 6px 0; font-size: 1.1rem;">{{goal.name}}</h2>
                        <p>{{goal.description}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
            <div class="no-goals" *ngIf="currentBoard.goals.length === 0" text-center>
                <ion-icon size="large" color="primary" name="sad" margin-bottom="24"></ion-icon>
                <ion-text>You have no goals. Add some!</ion-text>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
