<ion-header>
    <ion-toolbar>
        <ion-title>
            {{isNew ? 'Add' : 'Update'}} Goal
        </ion-title>
        <ion-button slot="end" fill="clear" (click)="dismissGoalModal()">Cancel</ion-button>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="goalForm" (submit)="submitGoal()">

        <ion-list>
            <!-- NAME -->
            <ion-item>
                <ion-input type="text"
                           formControlName="name"
                           placeholder="Name"
                           required>
                </ion-input>
            </ion-item>

            <!-- DESCRIPTION -->
            <ion-item>
                <ion-input formControlName="description" placeholder="Description"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Frequency</ion-label>
                <ion-select multiple="true" formControlName="frequency" required>
                    <ion-select-option *ngFor="let day of goalFrequency" [value]="day.value">
                        {{day.label}}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <!-- SUBMIT -->
            <ion-button class="submit-btn"
                        expand="block"
                        type="submit"
                        [disabled]="!goalForm.valid">
                {{isNew ? 'Add' : 'Update'}}
            </ion-button>
        </ion-list>
    </form>
</ion-content>
